* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

::selection {
    background-color: coral;
}

::-webkit-scrollbar {
    display: none;
}

/* HEADER */

.navbar .navbar-brand {
    transition: all 0.5s ease;
}

.navbar .navbar-brand:hover {
    transition: all 0.5s ease;
    background: linear-gradient(to right, skyblue, indigo);
    background: -webkit-linear-gradient(to right, skyblue, indigo);
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}

.navbar .navbar-nav .nav-item .login {
    border-radius: 0.5rem;
    transition: all 0.5s 0.3s ease-in-out;
}

.navbar .navbar-nav .nav-item .login:hover {
    background-color: #fd7e14;
    transition: all 0.5s ease-in-out;
    border-radius: 1rem;
}

.navbar .navbar-nav .nav-item .login:hover span {
    letter-spacing: .8px;
    transition: all 0.5s ease-in-out;

}

.navbar .navbar-nav .nav-item.item {
    transition: all 0.5s ease-in-out;
}

.navbar .navbar-nav .nav-item.item::after {
    opacity: 0;
    content: '';
    display: block;
    border-bottom: 2px solid black;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 0.2rem;
    transition: all 0.5s ease-in-out;
}

.navbar .navbar-nav .nav-item.item:hover::after {
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.navbar .navbar-nav .nav-item.item:hover {
    transition: all 0.5s ease-in-out;
}

.navbar .navbar-nav .nav-item .login svg {
    width: 1.15rem;
}

/* HEADER */

/* EXCEPT HEADER */
@media (max-width:1200px) {

    .navbar .navbar-nav .nav-item {
        text-align: center;
    }

    .navbar .navbar-nav .nav-item .login {
        justify-content: center;
    }
}

@media (max-width:990px) {
    .navbar .navbar-nav .nav-item.item {
        margin: 0.5rem 0;
    }
}

/* EXCEPT HEADER */

/* CONTENT 1 ~ Detail */

.c1-d-luar .c1-d-dalam .card {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    width: 1200px;
    max-width: 1200px;
    border-radius: 1.5rem;
    overflow: hidden;
    cursor: default;
    transition: all 0.5s ease-in-out;
}

.c1-d-luar .c1-d-dalam .card img {
    opacity: 80%;
    transition: all 0.5s ease-in-out;
}

.c1-d-luar .c1-d-dalam .card:hover img {
    opacity: 100%;
    transform: scale(1.025);
    transition: all 0.5s ease-in-out;
}

.c1-d-luar .c1-d-dalam .card .card-body {
    padding: 8rem 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: justify;
}

.c1-d-luar .c1-d-dalam .card .card-body .card-title {
    font-size: 3rem;
    color: black;
    background-color: white;
    transition: all 0.5s ease-in-out;
}

.c1-d-luar .c1-d-dalam .card .card-body .card-title:hover {
    padding: 0 0.5rem;
    color: white;
    background-color: black;
    border-left: 5px solid black;
    transition: all 0.5s ease-in-out;
}

.c1-d-luar .c1-d-dalam .card .card-body .card-text {
    font-size: 1.025rem;
    font-weight: 300;
}

.c1-d-luar .c1-d-dalam .card .card-body .tbl-beli,
.c1-d-luar .c1-d-dalam .card .card-body .tbl-kembali {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    transition: all 0.5s ease-in-out;
}

.c1-d-luar .c1-d-dalam .card .card-body .tbl-beli:hover,
.c1-d-luar .c1-d-dalam .card .card-body .tbl-kembali:hover {
    border-radius: 0.8rem;
    transition: all 0.5s ease-in-out;
}

/* CONTENT 1 ~ Detail */

/* EXCEPT CONTENT 1 ~ Detail */

@media (max-width:1305px) {
    .c1-d-luar .c1-d-dalam .card {
        width: 1000px;
        max-width: 1000px;
    }
}

@media (max-width:1050px) {
    .c1-d-luar .c1-d-dalam .card {
        width: 720px;
        max-width: 720px;
    }
}

@media (max-width:800px) {
    .c1-d-luar .c1-d-dalam .card {
        width: 540px;
        max-width: 540px;
    }
}

/* EXCEPT CONTENT 1 ~ Detail */

/* FOOTER */
.foo-luar .foo-dalam {
    display: block;
    color: black;
    background-color: white;
    font-weight: 500;
    border-left: 3px solid black;
    border-right: 3px solid black;
    transition: all 0.5s ease-in-out;
    cursor: default;
}

.foo-luar .foo-dalam:hover {
    display: inline-block;
    color: white;
    background-color: black;
    transition: all 0.5s ease-in-out;
}

/* FOOTER */