* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

::selection {
    background-color: coral;
}

::-webkit-scrollbar {
    display: none;
}

/* HEADER */

.navbar .navbar-brand {
    transition: all 0.5s ease;
}

.navbar .navbar-brand:hover {
    transition: all 0.5s ease;
    background: linear-gradient(to right, skyblue, indigo);
    background: -webkit-linear-gradient(to right, skyblue, indigo);
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}

.navbar .navbar-nav .nav-item .login {
    border-radius: 0.5rem;
    transition: all 0.5s 0.3s ease-in-out;
}

.navbar .navbar-nav .nav-item .login:hover {
    background-color: #fd7e14;
    transition: all 0.5s ease-in-out;
    border-radius: 1rem;
}

.navbar .navbar-nav .nav-item .login:hover span {
    letter-spacing: .8px;
    transition: all 0.5s ease-in-out;

}

.navbar .navbar-nav .nav-item.item {
    transition: all 0.5s ease-in-out;
}

.navbar .navbar-nav .nav-item.item::after {
    opacity: 0;
    content: '';
    display: block;
    border-bottom: 2px solid black;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 0.2rem;
    transition: all 0.5s ease-in-out;
}

.navbar .navbar-nav .nav-item.item:hover::after {
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.navbar .navbar-nav .nav-item.item:hover {
    transition: all 0.5s ease-in-out;
}

.navbar .navbar-nav .nav-item .login svg {
    width: 1.15rem;
}

/* HEADER */

/* EXCEPT HEADER */
@media (max-width:1200px) {

    .navbar .navbar-nav .nav-item {
        text-align: center;
    }

    .navbar .navbar-nav .nav-item .login {
        justify-content: center;
    }
}

@media (max-width:990px) {
    .navbar .navbar-nav .nav-item.item {
        margin: 0.5rem 0;
    }
}

/* EXCEPT HEADER */

/* CONTENT 1 ~ REGISTRASI */

.c1-r-luar .c1-r-dalam {
    padding: 2rem;
}

.c1-r-luar .c1-r-dalam .kartu-r {
    padding: 2rem;
    width: 50%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.c1-r-luar .c1-r-dalam .kartu-r .kartu-r-judul {
    text-align: center;
    margin: 1rem auto;
    width: 100%;
}

.c1-r-luar .c1-r-dalam .kartu-r .kartu-r-judul h2 {
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 2.5rem;
    padding: 0.2rem;
    border-left: 5px solid black;
    border-right: 5px solid black;
}

.c1-r-luar .c1-r-dalam .kartu-r .kartu-r-badan {
    margin: 0 auto;
    width: 100%;
}

.c1-r-luar .c1-r-dalam .kartu-r .kartu-r-badan .tbl-regis {
    width: 100%;
    padding: 0.6rem;
    transition: all 0.5s ease-in-out;
}

.c1-r-luar .c1-r-dalam .kartu-r .kartu-r-badan .tbl-regis:hover {
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

.c1-r-luar .c1-r-dalam .kartu-r .kartu-r-badan .pop-login a {
    color: black;
    background-color: white;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

.c1-r-luar .c1-r-dalam .kartu-r .kartu-r-badan .pop-login a:hover {
    color: white;
    background-color: black;
    transition: all 0.5s ease-in-out;
}

/* CONTENT 1 ~ REGISTRASI */

/* FOOTER */
.foo-luar .foo-dalam {
    display: block;
    color: black;
    background-color: white;
    font-weight: 500;
    border-left: 3px solid black;
    border-right: 3px solid black;
    transition: all 0.5s ease-in-out;
    cursor: default;
}

.foo-luar .foo-dalam:hover {
    display: inline-block;
    color: white;
    background-color: black;
    transition: all 0.5s ease-in-out;
}

/* FOOTER */